html {
    scroll-behavior: smooth;
}
.header {
    background-color: #00B4D8;
    color: white;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
a {
    color: white;
    text-decoration: none;
}

#logo {
    font-size: 46px;
    font-weight: bold;
    color: #FFD60A;
}